* {
  box-sizing: border-box;
}

body {
  width: 90%;
  background-image: url("./images/bg-coffee-image-150.png");
  background-attachment: fixed;
  /* background-size: 100px; */
  background-repeat: repeat;
  margin: 0 auto;
  padding: 0 0 0 0;
  color: rgba(248, 248, 242, 1.0);
}

header {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

main {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

section {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

article {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

div {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

h1 {
  margin: 10px 0 0 0;
  padding: 0 0 0 0;
  text-align: center;
  font-size: 2rem;
}

h2 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold
}

h3 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 1.2rem;
}

ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  list-style-type: none;
}

li {
  display: inline-block;
  padding: 0 10px 0 10px;
}

a {
  color: rgba(248, 248, 242, 1.0);
}

p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 1rem;
}

.fa-ruble-sign {
  font-size: 0.9rem;
}

.item-description,
.address {
  font-style: italic;
}


.banner {
  min-height: 100px;
  padding: 5px 10px 5px 10px;
  margin: 10px 0 15px 0;
  text-align: center;
  background-color: rgba(0,0,0,0.7);
}

.swiper-slide {
  background-color: rgba(0,0,0,0.7);
}

.menu-header {
  margin: 0 0 0 0;
  padding: 10px 0 10px 0;
  width: 100%;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 10px 30px;
  padding: 0 10px 0 10px;
}

.menu-footer {
  height: 30px;
  margin: 0 0 10px 0;
}

.volume,
.price {
  font-size: 1.2rem;
}

.volume {
  float: left;
}

.price {
  float: right;
}

.new {
  text-transform: none;
}

.clear {
  clear: all;
}

#map-new-jerusalem,
#map-mir,
#map-uritzkogo {
  width: 100%;
  height: 400px;
  background-color: gray;
  box-shadow: 0 2px 5px 0 rgba(160,160,160,0.6);
}

.address {
  text-align: left;
}

#moto {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}

/* #cool-coffee {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(248, 248, 242, 1.0); 
} */