body {
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  padding: 0 0 0 0;
}

header {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

main {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

section {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

article {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

div {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

h1 {
  margin: 10px 0 0 0;
  padding: 0 0 0 0;
  text-align: center;
  font-size: 2rem;
}

h2 {
  margin: 10px 0 0 0;
  padding: 0 0 0 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold
}

h3 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 1.2rem;
}

p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: justify;
  font-size: 1rem;
}

.item-description,
.address {
  font-style: italic;
}

.address {
  text-align: left;
}

.banner {
  padding: 5px 10px 5px 10px;
  margin: 15px 0 15px 0;
  border: 1px dashed black;
}

.container {
  display: grid;
  grid-gap: 10px;
}

.volume,
.price {
  font-size: 1.2rem;
}

.volume {
  float: left;
}

.price {
  float: right;
}

.clear {
  clear: all;
}

.finisher {
  height: 30px;
}

#map-new-jerusalem,
#map-mir,
#map-uritzkogo {
  width: 100%;
  height: 400px;
  background-color: gray;
  box-shadow: 0 2px 5px 0 rgba(160,160,160,0.6);
}

#moto {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}