body {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 2rem;
}

#map-new-jerusalem,
#map-mir,
#map-uritzkogo {
  width: 100%;
  height: 400px;
  background-color: gray;
  box-shadow: 0 2px 5px 0 rgba(160,160,160,0.6);
}

h1,
h2,
h3,
h4,
p,
header {
  margin: 0;
}

header {
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 1.2rem;
  text-transform: uppercase;
  text-align: center;
}

h4 {
  font-size: 1.4rem;
}

article {
}

section+article {
  margin-top: 10px;
}

p {
  text-align: justify;
  font-size: 1rem;
}

.coffee-description {
  font-style: italic;
}

.container {
  display: grid;
  grid-gap: 15px;
}

.volume,
.price {
  font-size: 1.2rem;
  font-weight: bolder
}

.volume {
  float: left;
}

.price {
  float: right;
}

.clear {
  clear: all;
}